<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全限定名 -->
<mapper namespace="com.example.mybatis.mapper.BossUserMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatis.model.BossUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="user_type"  property="userType" typeHandler="com.example.mybatis.utils.typehandler.UserEnumTypeHandler"/>
        <result column="password"  property="password" typeHandler="com.example.mybatis.utils.typehandler.MytypeHandler"/>
    </resultMap>



    <select id="getBossUser" resultMap="BaseResultMap" parameterType="string">
        select id,userName,user_type,password   from boss_user
        where id=#{id}
    </select>

    <select id="getBossUser2" resultMap="BaseResultMap" parameterType="map">
        select id,userName,user_type,password   from boss_user
        where id=#{id} and user_type=#{userType}
    </select>

    <select id="getBossUser3" resultMap="BaseResultMap" >
        select id,userName,user_type,password   from boss_user
        where id=#{id} and user_type=#{userType}
    </select>

    <select id="getBossUser4" resultMap="BaseResultMap" parameterType="bossUser">
        select id,userName,user_type,password   from boss_user
        where id=#{id} and user_type=#{userType,typeHandler=com.example.mybatis.utils.typehandler.UserEnumTypeHandler}
    </select>

    <select id="getBossUser5" resultMap="BaseResultMap" >
        select id,userName,user_type,password   from boss_user
        where  user_type=#{bossUser.userType,typeHandler=com.example.mybatis.utils.typehandler.UserEnumTypeHandler}
        limit #{page.start},#{page.limit}
    </select>

    <select id="countBossUser" resultType="int" parameterType="string">
        select count(id)    from boss_user
        where user_type=#{userType}
    </select>

    <insert id="insertBossUser" parameterType="bossUser" >
        insert into boss_user (id,userName,user_type,password)
        values (#{id},#{username},#{userType,typeHandler=com.example.mybatis.utils.typehandler.UserEnumTypeHandler},#{password,typeHandler=com.example.mybatis.utils.typehandler.MytypeHandler})
     </insert>

    <insert id="insertBossUser2" parameterType="bossUser" useGeneratedKeys="true" keyProperty="id">
        insert into boss_user (userName,user_type,password)
        values (#{username},#{userType,typeHandler=com.example.mybatis.utils.typehandler.UserEnumTypeHandler},#{password,typeHandler=com.example.mybatis.utils.typehandler.MytypeHandler})
     </insert>

     <delete id="deleteBossUser" parameterType="string" >
         delete boss_user where id=#{id}
     </delete>

     <update id="updateBossUser" parameterType="bossUser" >
         update boss_user set userName=#{userName},user_type=#{userType},password=#{password}
         values (#{id},#{username},#{userType})
     </update>

     <select id="listBossUser" resultMap="BaseResultMap" parameterType="string">
         select id,userName,user_type   from boss_user  where user_type=#{userType}
     </select>

    <select id="listBossUser2" resultMap="BaseResultMap" >
         select id,userName,user_type   from boss_user  where user_type=#{userType}
     </select>
 </mapper>