<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全限定名 -->
<mapper namespace="com.example.mybatis.mapper.BossUserMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatis.model.BossUser">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="user_type" jdbcType="VARCHAR" property="userType"/>
    </resultMap>



    <select id="getBossUser" resultMap="BaseResultMap" parameterType="string">
        select id,userName,user_type   from boss_user
        where id=#{id}
    </select>

    <insert id="insertBossUser" parameterType="bossUser" >
        insert boss_user (id,userName,user_type) values (#{id},#{username},#{userType})
    </insert>

    <delete id="deleteBossUser" parameterType="string" >
        delete boss_user where id=#{id}
    </delete>

    <update id="updateBossUser" parameterType="bossUser" >
        update boss_user set userName=#{userName},user_type=#{userType}
        values (#{id},#{username},#{userType})
    </update>

    <select id="listBossUser" resultMap="BaseResultMap" parameterType="string">
        select id,userName,user_type as  from boss_userwhere user_type=#{userType}
    </select>
</mapper>