<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 属性 方法一-->
    <properties >
        <property name="database.driver" value="com.mysql.jdbc.Driver"/>
        <property name="database.url" value="jdbc:mysql://192.168.1.164:3306/seventeen"/>
        <property name="database.username" value="jindi"/>
        <property name="database.password" value="jindi"/>
    </properties>

    <!-- 属性 方法二（加载配置）-->
    <!--<properties resource="jdbc.properties"/>-->

    <!-- 设置-->
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="multipleResultSetsEnabled" value="true"/>
        <setting name="useColumnLabel" value="true"/>
        <setting name="useGeneratedKeys" value="false"/>
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <setting name="defaultStatementTimeout" value="25"/>
        <setting name="defaultFetchSize" value="100"/>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="false"/>
        <setting name="localCacheScope" value="SESSION"/>
        <setting name="dbcTypeForNull" value="OTHER"/>
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>


    <!-- 类型命名 方法一（非扫描）-->
    <typeAliases>
        <typeAlias alias="bossUser" type="com.example.mybatis.model.BossUser"  />
    </typeAliases>

    <!-- 类型命名 方法二（扫描）-->
    <!--<typeAliases>
        <package name="com.example.mybatis.model"  />
    </typeAliases>-->

    <!-- 类型处理器 -->
    <typeHandlers >
        <typeHandler jdbcType="VARCHAR" javaType="string" handler="com.example.mybatis.utils.MytypeHandler"/>
    </typeHandlers>

    <!-- 对象工厂 -->
    <objectFactory type="" />

    <!--配置数据库环境-->
    <environments default="development">
        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC" />
            <!--数据库连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="${database.driver}"/>
                <property name="url" value="${database.url}"/>
                <property name="username" value="${database.username}"/>
                <property name="password" value="${database.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--数据库厂商标识-->
    <databaseIdProvider type="" />

    <!--映射配置-->
    <mappers>
        <mapper resource="mapper/BossUserMapper.xml" />

        <!--配置 注解方式mapper-->
        <!--<mapper class="com.example.mybatis.mapper.BossUserMapper2" />-->
    </mappers>
</configuration>