<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口全限定名 -->
<mapper namespace="com.example.mybatis.mapper.WechatLogMapper">

    <resultMap id="BaseResultMap" type="com.example.mybatis.model.WechatAuthLog">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_code" jdbcType="VARCHAR" property="userCode"/>
        <result column="nick_name" jdbcType="VARCHAR" property="nickName"/>
        <result column="sex"  property="sex" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>



    <select id="getWechatLog" resultMap="BaseResultMap" parameterType="string">
        select id,user_code,nick_name,sex   from wechat_auth_log
        where id=#{id}
    </select>

    <insert id="insertWechatLog" parameterType="wechatAuthLog" >
        insert wechat_auth_log (id,user_code,nick_name,sex) values (#{id},#{userCode},#{nickName},#{sex,typeHandler=org.apache.ibatis.type.EnumOrdinalTypeHandler})
    </insert>

</mapper>